* {
  margin: 0;
  padding: 0; }

.header_sold_line {
  background-color: #454F5B;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: white; }
  @media screen and (max-width: 767px) {
    .header_sold_line {
      font-size: 12px;
      line-height: 36px; } }
  .header_sold_line .container {
    position: relative; }
  .header_sold_line .callback {
    font-size: 16px;
    line-height: 44px;
    color: white;
    text-decoration: underline;
    display: inline-block;
    position: absolute;
    right: 0; }
  @media screen and (max-width: 768px) {
    .header_sold_line .callback {
      display: none; } }

/*header*/
header {
  box-shadow: inset 0px -1px 0px #C4CDD5; }
  @media screen and (max-width: 768px) {
    header .r_sub_menu {
      flex-direction: row;
      position: absolute;
      right: 0;
      top: 23px; } }
  @media screen and (max-width: 768px) {
    header .r_sub_menu li:first-of-type {
      display: none; } }

/*Sections carusel*/
.main_carusel {
  padding-top: 127px; }
  @media screen and (max-width: 767px) {
    .main_carusel .owl-carousel p {
      display: none; } }

/*sections informations*/
.info {
  background-color: #F2F8FF;
  padding: 40px 0;
  font-size: 16px;
  line-height: 26px;
  color: #454F5B; }
  .info span {
    display: block;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px; }

/*sections why*/
.why {
  padding-top: 93px; }
  .why h3 {
    color: #161C24;
    font-size: 44px;
    line-height: 62px;
    margin-bottom: 56px;
    text-align: center; }
  .why .item {
    border-right: solid 1px #C4CDD5;
    border-left: solid 1px #C4CDD5;
    text-align: center;
    padding: 24px; }
  @media screen and (max-width: 767px) {
    .why .item {
      border-right: none;
      border-left: none;
      border-top: solid 1px #C4CDD5;
      border-bottom: solid 1px #C4CDD5;
      margin-bottom: 30px; } }
    .why .item p {
      color: #454F5B;
      font-size: 20px;
      line-height: 32px;
      padding-top: 32px; }

/*categories sections*/
.categories {
  padding-top: 100px; }
  .categories h3 {
    color: #161C24;
    font-size: 44px;
    line-height: 62px;
    margin-bottom: 64px;
    text-align: center; }
  .categories .item_l {
    width: 50%;
    margin-right: 20px;
    background-color: #fafafa;
    height: 470px; }
  @media screen and (max-width: 767px) {
    .categories .item_l {
      margin-right: 10px; } }
  .categories .item_r {
    width: 50%;
    margin-left: 20px;
    background-color: #fafafa;
    height: 470px; }
  @media screen and (max-width: 767px) {
    .categories .item_r {
      margin-left: 10px; } }
